/* ===== BASE ===== */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body{
  background: linear-gradient(135deg, #032d8d, #3f5efb);
  min-height: 100vh;
  color: white;
}

/* ===== IMÁGENES ===== */

.img-izquierda{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 120px;
  border-radius: 12px;
}

.img-derecha{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 120px;
  border-radius: 12px;
}

/* ===== CONTENEDOR ===== */

.contenedor{
  max-width: 820px;
  margin: auto;
  padding: 25px;
}

/* ===== ENCABEZADO ===== */

.encabezado h1{
  font-size: 64px;

  background: linear-gradient(to right, #fff200, #ff9d00);
  -webkit-background-clip: text;
  color: transparent;
}

/* ===== TARJETA VIDEO ===== */

.tarjeta{
  background: rgba(255,255,255,.95);
  padding: 20px;
  border-radius: 18px;
  margin-top: 20px;
}

.video video{
  width: 100%;
  border-radius: 12px;
}

/* ===== HISTORIA ===== */

.historia{
  margin-top: 25px;
  background: rgba(0,0,0,0.35);
  padding: 18px;
  border-radius: 18px;
}

/* ===== LINKS COLORES ===== */

.link{
  color: #fff200;        /* amarillo */
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}

.link:hover{
  color: #8fe3ff;        /* azul claro */
}

.link:active{
  color: #9fff9f;        /* verde claro */
}

.telefono{
  font-size: 22px;
}

/* ===== RESPONSIVO ===== */

@media(max-width: 700px){

  .encabezado h1{
    font-size: 40px;
  }

  .img-izquierda,
  .img-derecha{
    width: 80px;
    position: relative;
    display: inline-block;
    margin: 5px;
  }
}

/* ===== CARRUSEL INFINITO ===== */


.carrusel{
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
  background: rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 15px;
}

.carrusel-track{
  display: flex;
  gap: 10px;

  animation: scroll 25s linear infinite;
}

.carrusel-track img{
  width: 180px;
  height: 120px;
  object-fit: cover;

  border-radius: 12px;
  border: 3px solid #fff200;

  transition: .3s;
}

/* Pausar con el mouse */
.carrusel-track:hover{
  animation-play-state: paused;
}

/* Efecto al pasar el mouse */
.carrusel-track img:hover{
  transform: scale(3.1);
  border-color: #8fe3ff;
}

/* ANIMACIÓN */
@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

/* RESPONSIVO */
@media(max-width: 700px){

  .carrusel-track img{
    width: 120px;
    height: 90px;
  }

}



